body {
  font-size: var(--font_size_base);
  line-height: calc(100% - 100);
}

.navigation .messages-menu {
  width: 300px;
  padding-top: 25px;
}

[data-initial]:not(input) {
  opacity: 1;
  transition: opacity 200ms linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.navigation .messages-menu li:not(:last-child) {
  border-bottom: 1px solid rgb(212, 163, 163);
  border-bottom: 1px soli #ffffff;
  margin-bottom: 15px;
}

div:after {
  content: "Foo";
  position: relative !important;
}
a:hover {
  display: none;
}
