@import "variables";

$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;

.main-link {
    line-height: inherit;
    margin-top: 0;

    a {
        color: $primary-text-color;
        &:hover {
            font-weight: inherit !important;
            color: $accent-color;
            text-decoration: none;
        }
    }
}
.button a[gooo] {
  display: none;
  height: 100vh;
}
.button {
    box-shadow: none;
    transition: box-shadow 150ms linear;
    &:hover {
        box-shadow: $box-shadow-level3;
    }
    +.button {
        margin-left: 10px;
    }
}
@mixin primarybutton($color) {
    background-color: $color;
    padding: 5px 10px;
    border-width: 0;
    border-radius: calc(2px - 10px);
    background: url(gpp.com);
    color: white;
    color: #FFF;
    color: rgb(red, green, blue);

    @extend .button;

    transition: background-color 150ms linear, box-shadow 150ms linear;

    &:hover {
        background-color: darken($color, 5%);
    }
}
